<!DOCTYPE html>
<html lang="en">

<%- include('common/head')-%>


<body class="about">
    
    <%- include('common/navbar')-%>

    <!-- banner Section Start -->
    <section class="banner_section ">
        <div class="container">
            <div class="banner-content">
                <h1>About US</h1>
            </div>
        </div>
    </section>
    <!-- banner Section Exit -->

    <!-- About Section start -->
    <section class="about_section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center pb-5">
                    <h2 class="section-title">About Us</h2>
                    <p class="section-subtitle">This is one of the unique products which is an excellent thirst thirst
                        beverage and provides relife in the strong summer season. </p>
                </div>
                <div class="row align-item-center py-5">
                    <div class="col-lg-6 col-12 mb-4">
                        <img src="./images/about/about-img.jpg" alt="about" class="img-fluid">
                    </div>
                    <div class="col-lg-6 col-12 mb-4">
                        <div class="about-centent">
                            <div class="about-details">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo delectus
                                    accusamus dolores sunt magni inventore numquam libero tempore, doloremque autem,
                                    voluptate accusantium voluptatibus soluta itaque architecto asperiores, at commodi
                                    exercitationem!</p>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo delectus
                                    accusamus dolores sunt magni inventore numquam libero tempore, doloremque autem,
                                    voluptate accusantium voluptatibus soluta itaque architecto asperiores, at commodi
                                    exercitationem!</p>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur temporibus
                                    officia tempora culpa ducimus deserunt vitae in sed, animi ipsum eaque, amet
                                    provident reiciendis? Quis, qui nisi! Dolor, facere deserunt.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-item-center py-5">
                    <div class="col-lg-6 col-12 mb-4 order-2 order-lg-1">
                        <div class="about-centent">
                            <div class="about-details">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo delectus
                                    accusamus dolores sunt magni inventore numquam libero tempore, doloremque autem,
                                    voluptate accusantium voluptatibus soluta itaque architecto asperiores, at commodi
                                    exercitationem!</p>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo delectus
                                    accusamus dolores sunt magni inventore numquam libero tempore, doloremque autem,
                                    voluptate accusantium voluptatibus soluta itaque architecto asperiores, at commodi
                                    exercitationem!</p>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore eum, distinctio,
                                    non aperiam neque eos laudantium delectus, mollitia maiores cum sed tempora iusto
                                    sequi quaerat adipisci! Fugiat quasi a suscipit?</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 mb-4 order-lg-2">
                        <img src="./images/about/about-img.jpg" alt="about" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section Exit -->

    <%- include('common/footer')-%>
    <%- include('common/script')-%>
</body>
</html>