<!DOCTYPE html>
<html lang="en">
  <%- include('common/head')-%>

  <body class="contact">
    <%- include('common/navbar')-%>

    <!-- banner Section Start -->
    <section class="banner_section">
      <div class="container">
        <div class="banner-content">
          <h1>Contact</h1>
        </div>
      </div>
    </section>
    <!-- banner Section Exit -->

    <!--Contact  Section start -->
    <section class="contact_section">
      <div class="container">
        <div class="col-12 text-center pb-5">
          <h2 class="section-title">Get in Touch</h2>
          <p class="section-subtitle">
            The passage Experienced A surge In Popularity During The 1960s When
            Again During The 90s As Desktop Publishers
          </p>
        </div>
        <div class="col-12 contact-form">
          <form method="post" action="/contact">
            <div class="row">
              <div class="col-lg-7 mb-5">
                <div class="row g-3">
                  <div class="col-md-6 mb-4">
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      placeholder="Your Name *"
                      required
                    />
                  </div>
                  <div class="col-md-6 mb-4">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      placeholder="Your email *"
                      required
                    />
                  </div>
                  <div class="col-md-6 mb-4">
                    <input
                      type="text"
                      class="form-control"
                      name="address"
                      placeholder="Your address *"
                      required
                    />
                  </div>
                  <div class="col-md-6 mb-4">
                    <input
                      type="tel"
                      class="form-control"
                      name="number"
                      placeholder="Your number *"
                      pattern="[0-9]{10}"
                      required
                    />
                  </div>
                  <div class="col-12 mb-4">
                    <textarea
                      class="form-control"
                      placeholder="Your Message...."
                    ></textarea>
                  </div>
                  <div class="col-12 mb-4">
                    <button type="submit" class="btn main-btn">
                      Send Message
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 mb-5">
                <ul class="info-box clearfix">
                  <li>
                    <i class="fas fa-phone-alt"> </i>
                    <p>Any Question ? Call us</p>
                    <div>
                      <a href="#">+91 987 654 3210</a>
                    </div>
                  </li>
                  <li>
                    <i class="fas fa-envelope-open"> </i>
                    <p>Any Question ? Email us</p>
                    <div>
                      <a href="#">info@example.com</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    <!-- Contact Section Exit -->

    <%- include('common/footer')-%> <%- include('common/script')-%>
  </body>
</html>
