<!DOCTYPE html>
<html lang="en">
  <%- include('common/head')-%>

  <body class="error">
    <%- include('common/navbar')-%>

    <!-- banner Section Start -->
    <section class="banner_section">
      <div class="container">
        <div class="banner-content">
          <h1>404_Error</h1>
        </div>
      </div>
    </section>
    <!-- banner Section Exit -->

    <!-- inquiry Section Start -->
    <section class="contact_section">
      <div class="container">
        <div class="row align-item-center flex-lg-row-reverse">
          <div class="col-lg-7 mb-lg-0">
            <div>
              <img src="./images/error_404.png" alt="error_404" />
            </div>
          </div>
          <div class="col-lg-5 pb-5 text-center text-lg-start">
            <h2 class="section-title">Opps........ This is not found.</h2>
            <p class="">
              Botanically, the strawberry fruit is considered an "accessory
              fruit" and is not a true berry. The flesh consists of the greatly
              nlarged flower receptacle.
            </p>
            <a href="/" class="btn main-btn">Back to Home</a>
          </div>
        </div>
      </div>
    </section>
    <!-- inquiry Section Exit -->

    <%- include('common/footer')-%> <%- include('common/script')-%>
  </body>
</html>
