<!DOCTYPE html>
<html lang="en">

<%- include('common/head')-%>

<body class="gallery">
  <%- include('common/navbar')-%>

    <!-- banner Section Start -->
    <section class="banner_section ">
        <div class="container">
            <div class="banner-content">
                <h1>Gallery</h1>
            </div>
        </div>
    </section>
    <!-- banner Section Exit -->

    <!-- Gallery Section start -->
    <section class="gallery_section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center pb-5">
            <h2 class="section-title">Our Gallery</h2>
            <p class="section-subtitle">
              The passage Experienced A surge In Popularity During The 1960s When
              Again During The 90s As Desktop Publishers
            </p>
          </div>
          <div class="col-sm-6 col-lg-4 mb-4">
            <a data-src="./images/gallery/g-1.jpg" data-fancybox="gallery" data-caption="Lemon">
              <img src="./images/gallery/g-1.jpg" class="img-fluid rounded-3">
            </a>
          </div>
          <div class="col-sm-6 col-lg-4 mb-4">
            <a data-src="./images/gallery/g-2.jpg" data-fancybox="gallery" data-caption="Lemon">
              <img src="./images/gallery/g-2.jpg" class="img-fluid rounded-3">
            </a>
          </div>
          <div class="col-sm-6 col-lg-4 mb-4">
            <a data-src="./images/gallery/g-3.jpg" data-fancybox="gallery" data-caption="Lemon">
              <img src="./images/gallery/g-3.jpg" class="img-fluid rounded-3">
            </a>
          </div>
          <div class="col-sm-6 col-lg-4 mb-4">
            <a data-src="./images/gallery/g-4.jpg" data-fancybox="gallery" data-caption="Lemon">
              <img src="./images/gallery/g-4.jpg" class="img-fluid rounded-3">
            </a>
          </div>
          <div class="col-sm-6 col-lg-4 mb-4">
            <a data-src="./images/gallery/g-5.jpg" data-fancybox="gallery" data-caption="Lemon">
              <img src="./images/gallery/g-5.jpg" class="img-fluid rounded-3">
            </a>
          </div>
          <div class="col-sm-6 col-lg-4 mb-4">
            <a data-src="./images/gallery/g-6.jpg" data-fancybox="gallery" data-caption="Lemon">
              <img src="./images/gallery/g-6.jpg" class="img-fluid rounded-3">
            </a>
          </div>
          <div class="col-sm-6 col-lg-4 mb-4">
              <a data-src="./images/gallery/g-7.jpg" data-fancybox="gallery" data-caption="Lemon">
                <img src="./images/gallery/g-7.jpg" class="img-fluid rounded-3">
              </a>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
              <a data-src="./images/gallery/g-8.jpg" data-fancybox="gallery" data-caption="Lemon">
                <img src="./images/gallery/g-8.jpg" class="img-fluid rounded-3">
              </a> 
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
              <a data-src="./images/gallery/g-2.jpg" data-fancybox="gallery" data-caption="Lemon">
                <img src="./images/gallery/g-2.jpg" class="img-fluid rounded-3">
              </a>
            </div>
        </div>
      </div>
    </section>
    <!-- Gallery Section Exit -->

    <%- include('common/footer')-%>
    <%- include('common/script')-%>

</body>
</html>