<!DOCTYPE html>
<html lang="en">
  <%- include('common/head')-%>

  <body>
    <%- include('common/navbar')-%>

    <!-- Banner Section Start -->
    <section class="banner_section">
      <div class="container">
        <div
          id="carouselExampleCaptions"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-caption">
                <div class="banner-content">
                  <h1>100% Organic</h1>
                  <h3>Fresh & Natural Farm Food</h3>
                  <p>
                    The read readable Content of a page when Looking at its
                    layout point of using of letters, as opposed.
                  </p>
                  <a href="/product" class="btn main-btn">All Products</a>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-caption">
                <div class="banner-content">
                  <h1>100% Organic</h1>
                  <h3>Fresh & Natural Farm Food</h3>
                  <p>
                    The read readable Content of a page when Looking at its
                    layout point of using of letters, as opposed.
                  </p>
                  <a href="product.html" class="btn main-btn">All Products</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Banner Section Exit -->

    <!-- Features Section start -->
    <section class="features_section">
      <div class="container">
        <div class="row">
          <div class="col-6 col-lg-3 mb-5">
            <div class="card features-box">
              <div class="text-center">
                <div class="features-icon-border">
                  <div class="features-icon">
                    <img
                      src="./images/feature-icon/ui-chat.svg"
                      alt="ui-chat"
                    />
                  </div>
                </div>
                <div class="features-text">
                  <h3>24/07 Support</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3 mb-5">
            <div class="card features-box">
              <div class="text-center">
                <div class="features-icon-border">
                  <div class="features-icon">
                    <img
                      src="./images/feature-icon/truck-loaded.svg"
                      alt="truck-loaded"
                    />
                  </div>
                </div>
                <div class="features-text">
                  <h3>Free Shipping</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3 mb-5">
            <div class="card features-box">
              <div class="text-center">
                <div class="features-icon-border">
                  <div class="features-icon">
                    <img src="./images/feature-icon/wheat.svg" alt="wheat" />
                  </div>
                </div>
                <div class="features-text">
                  <h3>Fresh & Healthy</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3 mb-5">
            <div class="card features-box">
              <div class="text-center">
                <div class="features-icon-border">
                  <div class="features-icon">
                    <img src="./images/feature-icon/lemon.svg" alt="lemon" />
                  </div>
                </div>
                <div class="features-text">
                  <h3>From Our farm</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Features Section Exit -->

    <!-- About Setction start -->
    <section class="landing_about_section">
      <div class="container">
        <div class="row align-item-center">
          <div class="col-xl-5 col-lg-6 col-sm-8">
            <div class="about-content">
              <h2>We Providing Service Since 1841 With Proud.</h2>
              <div class="about-details">
                <p class="fw-bold">
                  The readable content off a page when looking layout using
                  Lorem Ipsum is that it has.
                </p>
                <p>
                  It is a long established fact that a reader will be distracted
                  the readble content off a page when looking at its layout
                  using Lorem ipsum is that it has .It is a long established
                  fact that a reader will be distracted the readble content off
                  a page when looking at its layout using Lorem Ipsum is that it
                  has.
                </p>
                <p>
                  It is a long established fact that a reader will be distracted
                  the readable content off a page when looking at its layout
                  using Lorem Ipsum is that has.....
                </p>

                <a href="about.html" class="btn main-btn">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Setction Exit -->

    <!-- Product Section start -->
    <section class="landing_product_section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 text-center pb-5">
            <h2 class="section-title">Our Best Seller Product</h2>
            <p class="section-subtitle">
              The passage Experienced A Surge In Popularity During The 1960s
              When Again During The 90s As Desktop Publishers
            </p>
          </div>
        </div>
        <div class="row mx-0">
          <div class="col-lg-3 col-sm-6 mb-5">
            <div class="card product-card">
              <div class="product-img">
                <img src="./images/products/product-1.jpg" alt="img-fluid" />
              </div>
              <div class="d-flex align-item-center justify-content-between">
                <h3>Melon</h3>
                <span>$70 KG</span>
              </div>
              <div class="product-detail">
                <a href="product.html" class="btn main-btn">View Products</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5">
            <div class="card product-card">
              <div class="product-img">
                <img src="./images/products/product-2.jpg" alt="img-fluid" />
              </div>
              <div class="d-flex align-item-center justify-content-between">
                <h3>Orange</h3>
                <span>$70 KG</span>
              </div>
              <div class="product-detail">
                <a href="product.html" class="btn main-btn">View Products</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5">
            <div class="card product-card">
              <div class="product-img">
                <img src="./images/products/product-3.jpg" alt="img-fluid" />
              </div>
              <div class="d-flex align-item-center justify-content-between">
                <h3>Apple</h3>
                <span>$70 KG</span>
              </div>
              <div class="product-detail">
                <a href="product.html" class="btn main-btn">View Products</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mb-5">
            <div class="card product-card">
              <div class="product-img">
                <img src="./images/products/product-4.jpg" alt="img-fluid" />
              </div>
              <div class="d-flex align-item-center justify-content-between">
                <h3>Dragon</h3>
                <span>$70 KG</span>
              </div>
              <div class="product-detail">
                <a href="product.html" class="btn main-btn">View Products</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Product Section Exit -->

    <!-- Testimonial Section Start -->

    <section class="testimonial_section">
      <div class="container">
        <div class="row pb-5">
          <div class="col-12 text-center">
            <h2 class="section-title">Our happy Customers</h2>
            <p class="section-subtitle">
              The passage Experienced A Surge In Popularity During The 1960s
              when Again During The 90s As Desktop Publishers
            </p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-8 col-md-10">
            <div
              id="carouselExampleIndicators"
              class="carousel slide"
              data-bs-ride="true"
            >
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                ></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="d-sm-flex row">
                    <div class="profile-box col-sm-5">
                      <img
                        src="./images/testimonial/testimonial-1.png"
                        alt="testimonial-1"
                        class="img-fluid"
                      />
                    </div>
                    <div class="card col-sm-7">
                      <div class="desc-box">
                        <p class="fst-italic">
                          Not only was coustomer support very fast , but the
                          design is very professional. will definitely be
                          looking for new productsin the future from this
                          author.
                        </p>
                        <div class="my-4">
                          <h4>Jecob Oramson</h4>
                          <p class="m-0 text-white">Happy Customers</p>
                        </div>
                        <img
                          src="./images/testimonial/qoutes.svg"
                          alt="qoutes"
                          class="float-end"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="d-sm-flex row">
                    <div class="profile-box col-sm-5">
                      <img
                        src="./images/testimonial/testimonial-1.png"
                        alt="testimonial-1"
                        class="img-fluid"
                      />
                    </div>
                    <div class="card col-sm-7">
                      <div class="desc-box">
                        <p class="fst-italic">
                          Not only was coustomer support very fast , but the
                          design is very professional. will definitely be
                          looking for new productsin the future from this
                          author.
                        </p>
                        <div class="my-4">
                          <h4>Jecob Oramson</h4>
                          <p class="m-0 text-white">Happy Customers</p>
                        </div>
                        <img
                          src="./images/testimonial/qoutes.svg"
                          alt="qoutes"
                          class="float-end"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="d-sm-flex row">
                    <div class="profile-box col-sm-5">
                      <img
                        src="./images/testimonial/testimonial-1.png"
                        alt="testimonial-1"
                        class="img-fluid"
                      />
                    </div>
                    <div class="card col-sm-7">
                      <div class="desc-box">
                        <p class="fst-italic">
                          Not only was coustomer support very fast , but the
                          design is very professional. will definitely be
                          looking for new productsin the future from this
                          author.
                        </p>
                        <div class="my-4">
                          <h4>Jecob Oramson</h4>
                          <p class="m-0 text-white">Happy Customers</p>
                        </div>
                        <img
                          src="./images/testimonial/qoutes.svg"
                          alt="qoutes"
                          class="float-end"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonial Section Exit -->

    <!-- Gallery Section Start -->
    <section class="gallery_section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center pb-5">
            <h2 class="section-title">Our Gallery</h2>
            <p class="section-subtitle">
              The passage Experienced A surge In Popularity During The 1960s
              When Again During The 90s As Desktop Publishers
            </p>
          </div>
          <div class="col-sm-6 col-lg-4 mb-4">
            <a
              data-src="./images/gallery/g-1.jpg"
              data-fancybox="gallery"
              data-caption="Lemon"
            >
              <img src="./images/gallery/g-1.jpg" class="img-fluid rounded-3" />
            </a>
          </div>
          <div class="col-sm-6 col-lg-4 mb-4">
            <a
              data-src="./images/gallery/g-2.jpg"
              data-fancybox="gallery"
              data-caption="Lemon"
            >
              <img src="./images/gallery/g-2.jpg" class="img-fluid rounded-3" />
            </a>
          </div>
          <div class="col-sm-6 col-lg-4 mb-4">
            <a
              data-src="./images/gallery/g-3.jpg"
              data-fancybox="gallery"
              data-caption="Lemon"
            >
              <img src="./images/gallery/g-3.jpg" class="img-fluid rounded-3" />
            </a>
          </div>
          <div class="col-sm-6 col-lg-4 mb-4">
            <a
              data-src="./images/gallery/g-4.jpg"
              data-fancybox="gallery"
              data-caption="Lemon"
            >
              <img src="./images/gallery/g-4.jpg" class="img-fluid rounded-3" />
            </a>
          </div>
          <div class="col-sm-6 col-lg-4 mb-4">
            <a
              data-src="./images/gallery/g-5.jpg"
              data-fancybox="gallery"
              data-caption="Lemon"
            >
              <img src="./images/gallery/g-5.jpg" class="img-fluid rounded-3" />
            </a>
          </div>
          <div class="col-sm-6 col-lg-4 mb-4">
            <a
              data-src="./images/gallery/g-6.jpg"
              data-fancybox="gallery"
              data-caption="Lemon"
            >
              <img src="./images/gallery/g-6.jpg" class="img-fluid rounded-3" />
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Gallery Section Exit  -->

    <%- include('common/footer')-%> <%- include('common/script')-%>
  </body>
</html>
