<!DOCTYPE html>
<html lang="en">
    <%- include('common/head')-%>
<body class="product">
    <%- include('common/navbar')-%>

    <!-- banner Section Start -->
    <section class="banner_section ">
        <div class="container">
            <div class="banner-content">
                <h1>Product</h1>
            </div>
        </div>
    </section>
    <!-- banner Section Exit -->

        <!-- Product Section start -->
        <section class="product_section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center pb-5">
                        <h2 class="section-title">Our Best Seller Product</h2>
                        <p class="section-subtitle">The passage Experienced A Surge in Popularity During The 1960s When Agin
                            The 90s As Desktop Publishers.</p>
                    </div>
                </div>
                <div class="row align-item-center py-5">
                    <div class="col-xl-5 col-lg-6 col-12 mb-5">
                        <div class="card border-0 me-lg-5">
                            <img src="./images/products/fresh-fruits1.jpg" alt="fresh-fruits1">
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6 col-12 mb-5">
                        <div class="product-content">
                            <h2>Pure Lemon Juice</h2>
                            <div class="product-details">
                                <p>Ready to use Pure, Natural,and Fresh Lemon Juice Concentrate in lemon ahape bottle of 14
                                    Lemons & 30 Lemons No need to buy costly Lemons Anymore ,Then cut and Squeeze & store
                                    them, just Bring! </p>
                                <p>Easy to use and easy to carry, just squeeze it to use it. 99.99% Lemon Juice concentrate
                                    , No added sugar or anything. </p>
                                <h4>Uses of Nimboo Ras</h4>
                                <p>Use in all your cooking,use in all types of drinks, with Green Tea, with Warm Water. </p>
                                <h4>Benifites of Nimboo Ras</h4>
                                <p>Reduce stress, Boost the Immune system, help prevent kindney stones, Fight cancer Cells,
                                    Natural antiseptic, Clean & clear skin, white Teeth, Stop Dandruff, Aid in digestion,
                                    Promote Weight loss and many more.... </p>
                                <a href="#" class="btn main-btn">Buy Now </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-item-center py-5">
                    <div class="col-xl-7 col-lg-6 col-12 mb-5 order-2 order-lg-1">
                        <div class="product-content">
                            <h2>Pure Lemon Juice</h2>
                            <div class="product-details">
                                <p>Ready to use Pure, Natural,and Fresh Lemon Juice Concentrate in lemon ahape bottle of 14
                                    Lemons & 30 Lemons No need to buy costly Lemons Anymore ,Then cut and Squeeze & store
                                    them, just Bring! </p>
                                <p>Easy to use and easy to carry, just squeeze it to use it. 99.99% Lemon Juice concentrate
                                    , No added sugar or anything. </p>
                                <h4>Uses of Nimboo Ras</h4>
                                <p>Use in all your cooking,use in all types of drinks, with Green Tea, with Warm Water. </p>
                                <h4>Benifites of Nimboo Ras</h4>
                                <p>Reduce stress, Boost the Immune system, help prevent kindney stones, Fight cancer Cells,
                                    Natural antiseptic, Clean & clear skin, white Teeth, Stop Dandruff, Aid in digestion,
                                    Promote Weight loss and many more.... </p>
                                <a href="#" class="btn main-btn">Buy Now </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-12 mb-5 order-1 order-lg-2">
                        <div class="card border-0 me-lg-5">
                            <img src="./images/products/fresh-fruits1.jpg" alt="fresh-fruits1">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <!-- Product Section Exit -->

        <%- include('common/footer')-%>
        <%- include('common/script')-%>
</body>

</html>