<section class="footer_wrapper mt-3 mb-md-0">
  <div class="container px-5 px-lg-0">
    <div class="row">
      <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
        <h5>Tazza</h5>
        <p class="mb-4 ps-0 company_details">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit commodi
          rerum deleniti at recusandae nobis mollitia iure sapiente possimus! Ut
          magnam ipsam facilis accusantium exercitationem nulla officiis saepe
          iusto maiores.
        </p>
        <div class="contact-info">
          <ul class="list-unstyled">
            <li>
              <a href="#"
                ><i class="fa fa-home me-3"></i>No.96,South City,India</a
              >
            </li>
            <li>
              <a href="#"><i class="fa fa-phone me-3"></i>+91 9876543210</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-envelope me-3"></i>info@tazza.com</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
        <h5>Customer Support</h5>
        <ul class="link-widget p-0">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Pribacy Policy </a></li>
          <li><a href="#">Teram & Conditions </a></li>
          <li><a href="#">Products Returns</a></li>
          <li><a href="#">Wholesale Policy</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
        <h5>Quick Links</h5>
        <ul class="link-widget p-0">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Pribacy Policy </a></li>
          <li><a href="#">Teram & Conditions </a></li>
          <li><a href="#">Products Returns</a></li>
          <li><a href="#">Wholesale Policy</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
        <h5>Newsletter</h5>
        <div class="form-group mb-4">
          <input
            type="email"
            class="form-control bg-transparent"
            placeholder="Enter Your Email Here"
          />
          <button type="submit" class="btn main-btn">Subscribe</button>
        </div>
        <h5>Stay Connected</h5>
        <ul class="social-network d-flex align-item-center p-0">
          <li>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid copyright-section">
    <p>Copyright <a href="#">© NITISH_SINGH.</a> All Rights Reserved</p>
  </div>
</section>
